/* Section 1 Styles */
.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('images/67.jpeg');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 623px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 195px 59px 0;
}

.u-section-1 .u-text-2 {
  width: 255px;
  margin: 12px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 12px 59px 60px;
}

/* Media Queries for Section 1 */
@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 514px;
  }
  .u-section-1 .u-text-1,
  .u-section-1 .u-text-3 {
    margin: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 394px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 296px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 186px;
  }
}

/* Section 2 Styles */
.u-section-2 .u-sheet-1 {
  min-height: 400px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 0 auto 0 20px;
}

.u-section-2 .u-layout-cell-1,
.u-section-2 .u-layout-cell-2 {
  min-height: 461px;
}

.u-section-2 .u-container-layout-1,
.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 328px;
  height: 328px;
  background-image: url("images/what-is-a-pediatric-doctor-of-osteopathic-medicine.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  line-height: 1.8;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  align-self: center;
  text-align: center;
  margin: 30px auto 0 0;
  padding: 20px 47px;
}

/* Media Queries for Section 2 */
@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 319px;
  }
  .u-section-2 .u-layout-wrap-1 {
    margin: 0;
  }
  .u-section-2 .u-layout-cell-1,
  .u-section-2 .u-layout-cell-2 {
    min-height: 380px;
  }
  .u-section-2 .u-image-1 {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 833px;
  }
  .u-section-2 .u-layout-cell-1 {
    min-height: 571px;
  }
  .u-section-2 .u-image-1 {
    width: 460px;
    height: 460px;
  }
  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 635px;
  }
  .u-section-2 .u-layout-cell-1,
  .u-section-2 .u-layout-cell-2 {
    padding: 0 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 414px;
  }
  .u-section-2 .u-image-1 {
    width: 320px;
    height: 320px;
  }
}

/* Section 3 Styles */
.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 952px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  width: 889px;
  margin: 57px auto 0;
}

.u-section-3 .u-image-1 {
  width: 217px;
  height: 97px;
  margin: 8px 0 0 auto;
}

.u-section-3 .u-text-3 {
  font-weight: 400;
  margin: 14px 0 30px 918px;
}

/* Media Queries for Section 3 */
@media (max-width: 1199px) {
  .u-section-3 .u-text-3 {
    margin-left: 718px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    width: 720px;
  }
  .u-section-3 .u-text-3 {
    margin-left: 498px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    width: 540px;
  }
  .u-section-3 .u-text-3 {
    margin-left: 318px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    width: 340px;
  }
  .u-section-3 .u-text-3 {
    margin-left: 118px;
  }
}

/* Section 4 Styles */
.u-section-4 .u-sheet-1 {
  min-height: 693px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 53px auto 0;
}

.u-section-4 .u-list-1 {
  margin: 20px 0 53px;
}

.u-section-4 .u-repeater-1 {
  min-height: 375px;
  display: grid;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  grid-gap: 10px;
}

.u-section-4 .u-container-layout-1,
.u-section-4 .u-container-layout-2,
.u-section-4 .u-container-layout-3,
.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-image-1,
.u-section-4 .u-image-2,
.u-section-4 .u-image-3,
.u-section-4 .u-image-4 {
  height: 298px;
  margin: 0;
}

.u-section-4 .u-text-2,
.u-section-4 .u-text-4,
.u-section-4 .u-text-6,
.u-section-4 .u-text-8 {
  font-weight: 700;
  margin: 20px 61px 0 0;
}

.u-section-4 .u-text-3,
.u-section-4 .u-text-5,
.u-section-4 .u-text-7,
.u-section-4 .u-text-9 {
  margin: 20px 0 0;
}

/* Media Queries for Section 4 */
@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    margin: 0;
  }
  .u-section-4 .u-image-1,
  .u-section-4 .u-image-2,
  .u-section-4 .u-image-3,
  .u-section-4 .u-image-4 {
    height: 236px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }
  .u-section-4 .u-image-1,
  .u-section-4 .u-image-2,
  .u-section-4 .u-image-3,
  .u-section-4 .u-image-4 {
    height: 484px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-1,
  .u-section-4 .u-image-2,
  .u-section-4 .u-image-3,
  .u-section-4 .u-image-4 {
    height: 298px;
  }
OBOBOB}

/* Section 5 Styles */
.u-section-5 .u-sheet-1 {
  min-height: 404px;
}

.u-section-5 .u-text-1 {
  margin: 15px -46px 60px;
  }

 @media (max-width: 1199px) {
	 .u-section-5 . u-text -1 {
	margin: 0;
	}
}
